<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.gtcs.log.importlog.mapper.ImportMasterLogMapper">

    <insert id="insertImportMasterLog" parameterType="kr.or.gtcs.dto.ImportMasterLogDTO">
        INSERT INTO IMPORT_MASTER_LOG (
              LOG_ID
            , ACTION_TYPE
            , ACTION_DATE
            , WORKER_ID
            , IMPORT_ID
            , MEM_ID
            , IMPORTER_NAME
            , REP_NAME
            , TEL_NO
            , EMAIL
            , BIZ_REG_NO
            , CUSTOMS_ID
            , ADDRESS
            , OVERSEAS_BIZ_NAME
            , OVERSEAS_COUNTRY
            , IMPORT_TYPE
            , CARGO_MGMT_NO
            , TRANS_MODE
            , VESSEL_NAME
            , VESSEL_NATION
            , ARRIVAL_EST_DATE
            , BONDED_IN_DATE
            , ORIGIN_COUNTRY
            , ARRIVAL_PORT
            , BL_NO
            , AWB_NO
            , SUBMIT_DATE
            , CURRENCY_CODE
            , PAY_AMOUNT
            , INVOICE_NO
            , INVOICE_DATE
            , CONTRACT_NO
            , CONTRACT_DATE
            , PO_NO
            , PO_DATE
            , TOTAL_WEIGHT
            , ORIGIN_CERT_YN
            , INCOTERMS
            , FREIGHT_CURRENCY
            , FREIGHT_AMT
            , INSURANCE_CURRENCY
            , INSURANCE_AMT
            , ADD_AMT_CURRENCY
            , ADD_AMT
            , TOTAL_TAX_BASE
            , TOTAL_DUTY
            , TOTAL_VAT
            , TOTAL_TAX_SUM
            , CONT_NO
            , HS_CODE
            , TAX_TYPE
            , TAX_BASE_TYPE
            , ITEM_NAME_DECLARED
            , ITEM_NAME_TRADE
            , MODEL_NAME
            , QTY
            , QTY_UNIT
            , UNIT_PRICE
            , TOTAL_AMOUNT
            , NET_WEIGHT
            , TAX_BASE_AMT_ITEM
            , ORIGIN_CODE
            , ORIGIN_MARK_YN
            , STATUS
            , IMPORT_NUMBER
            , MOD_DATE
        ) VALUES (
              IMPORT_LOG_SEQ.NEXTVAL
            , #{actionType}
            , SYSDATE
            , #{workerId}
            , #{importId}
            , #{memId}
            , #{importerName}
            , #{repName}
            , #{telNo}
            , #{email}
            , #{bizRegNo}
            , #{customsId}
            , #{address}
            , #{overseasBizName}
            , #{overseasCountry}
            , #{importType}
            , #{cargoMgmtNo}
            , #{transMode}
            , #{vesselName}
            , #{vesselNation}
            , #{arrivalEstDate}
            , #{bondedInDate}
            , #{originCountry}
            , #{arrivalPort}
            , #{blNo}
            , #{awbNo}
            , #{submitDate}
            , #{currencyCode}
            , #{payAmount}
            , #{invoiceNo}
            , #{invoiceDate}
            , #{contractNo}
            , #{contractDate}
            , #{poNo}
            , #{poDate}
            , #{totalWeight}
            , #{originCertYn}
            , #{incoterms}
            , #{freightCurrency}
            , #{freightAmt}
            , #{insuranceCurrency}
            , #{insuranceAmt}
            , #{addAmtCurrency}
            , #{addAmt}
            , #{totalTaxBase}
            , #{totalDuty}
            , #{totalVat}
            , #{totalTaxSum}
            , #{contNo}
            , #{hsCode}
            , #{taxType}
            , #{taxBaseType}
            , #{itemNameDeclared}
            , #{itemNameTrade}
            , #{modelName}
            , #{qty}
            , #{qtyUnit}
            , #{unitPrice}
            , #{totalAmount}
            , #{netWeight}
            , #{taxBaseAmtItem}
            , #{originCode}
            , #{originMarkYn}
            , #{status}
            , #{importNumber}
            , SYSDATE
        )
    </insert>

</mapper>